@import "node_modules/bootstrap/scss/bootstrap";
*{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: Verdana, Tahoma, sans-serif;
}



 #landing_page{
    
    background-size: cover !important;
    background-position: center !important;
    height: 100vh !important;
    width: 100% !important;
    display: grid;
   
    grid-template-rows: auto;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 8%;
}
.logo{
    color: #f8cc6d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 4rem;
    text-shadow: 2px 2px #001928;
    padding-left: 5%;
}


nav ul li{
    display: inline-block;
    padding: 10px 30px;
    
}

nav ul li a{
    color: #efe6a1;
    font-size: 1.5rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: #f8cc6d;
    font-size: 1.6rem;
    
}

.first_content{
    text-align: center;
    padding-left: 55%;
    padding-top: 10%;
    font-size: 3rem;
    color: #a2af9b;
    text-shadow: 2px 2px #001928;
}

#About{
    padding-top: 20%;
    color: #3f5b5e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #ffffff 99%, #9599E2 100%);

}

.details{
    font-size: 1rem;
    color: #001928;
    font-weight: 100;
    text-align: center;
}

.removebtn{
    background-color: #efe6a1;
    border-color: #f8cc6d;
    color: #001928;
}
.cartItem{
    padding-top: 1%;
    padding-bottom: 1%;
}

.fab:hover, .far:hover{
    color: #001928;
    transition: .5s;
    font-size: 2.5rem;
}

.card-title:hover{
    font-size: 1.7rem;
    color: #001928;
}
.addToCart:hover{
    font-size: 1.1rem;
    color: #001928;
}
.addToCart{
    border-radius: 10px;
}
.none{
    display: none;
}
